<div class="container  mt-5" id="search-sort-group">
  <div class="col-md-10 col-12 mx-auto">
    <div class="row d-flex justify-content-between align-items-center">
<!-- search bar -->
<div class="search-bar">
    <div class="search-bar-inner">
      <form action="/search" method="GET">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            
          </div>
        </div>
      </form>

     
    </div>
</div>
{{!-- sort-by dropdown menu --}}
  <div id="sort-by">
    <form action="/sort" method="get">
      <select id="sort" name="sortMethod" onchange='this.form.submit()'>
          <option selected>{{#if sortMethod}}{{sortMethod}}{{else}}排序方式{{/if}}</option>
          <optgroup label="字母排序">
          <option value="A -> Z" >A -> Z</option>
          <option value="Z -> A" >Z -> A</option>
          </optgroup>
          <optgroup label="推薦指數排序">
          <option value="推薦指數:高至低">推薦指數:高至低</option>
          <option value="推薦指數:低至高">推薦指數:低至高</option>
          </optgroup>
      </select>
    </form>
  </div>
  </div>
</div>
</div>



<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
  <div class="col-md-10 col-12 mx-auto">
     {{#if restaurantsData}}
      <div class="row row-cols-sm-3">
        {{!-- render restaurant data --}}
        {{#each restaurantsData}}
        <div class="card-set d-flex flex-column">
         <div class="card mb-2">
        <a href="./restaurants/{{ this._id }}" class='text-success'>
          <div class="card-contents">
             <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
              <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal" style="color:rgb(74, 62, 62);">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              </div>
          </div>
          </a>
           <div class="d-flex buttons justify-content-end mb-2 me-2">
          
            <a href="./restaurants/{{ this._id }}/edit"><button type="button" class="btn btn-outline-success btn-sm mx-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
            <a href="./restaurants/{{ this._id }}"><button type="button" class="btn btn-outline-success btn-sm mx-1"><i class="fa-solid fa-circle-info"></i></button></a>
            <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"><button type="submit" class="btn btn-outline-success btn-sm ms-1"><i class="fa-solid fa-trash-can"></i></button></form>
          
</form>
        </div>
         
        </div>
      </div>
      
        {{/each}}
        {{else}}
       <div class="d-flex justify-content-center" id="not-found"><h2>Sorry! 您搜尋的關鍵字沒有對應的結果</h2></div>
      </div>
    </div>
     {{/if}}
  </div>
</div>